<div>
    <div>
        <form name="createBranchForm" id="form" class="input-form">
            <div>
                <label>Branch Name : </label>


                <input type="text" placeholder="branchName" ng-model="branchName"/>
            </div>

            <div>
                <label>Branch Id :</label>
                <input type="text" placeholder="branchId" ng-model="branchId"/>
                <br>
            </div>
            <button ng-click="createBranch()">Save</button>
        </form>
    </div>
</div>