<div style="margin-top: 10px;margin-bottom: 10px">
    <div class="tool-bar">
        <button ng-click="addBranch()" class="tool-bar-button">Add Branch</button>
        <button ng-click="addGroup()" class="tool-bar-button">Add Group</button>
        <button ng-click="addClient()" class="tool-bar-button">Add Client</button>
        <button ng-click="addAccount()" class="tool-bar-button">Create Account</button>
        <button ng-click="addPayment()" class="tool-bar-button">Make Payment</button>
    </div>
</div>